# Mac Crap
.DS_Store

# Dev Crap we don't want to share
scratch

# We don't want to share our data...
data/*

# Don't share the tmp directory for now
tmp/

# Don't share the vagrant metadirectory
.vagrant
